<!DOCTYPE html>
<html>
  <head>
    <title>Açoes Million</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Açoes Million</h1>
    <p>Api das ações million </p>
  </body>
</html>
