<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header class='header' style="text-align: center;">
      <h1>Bem vindo à Million</h1>
      <p>Sua plataforma digital de investimentos </p>
      <a href="/acoes.json" target="_blanck">Clique aqui para vizualizar as ações</a>  
    </header>
  </body>
</html>
